<!DOCTYPE html>

<html>
    <head>
        <title>Ingresar</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.11.1.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript"></script>
        #{get 'moreScripts' /}
    </head>
	<body>
		<div class="row">
			<br/><br/><br/>
			<div class="col-md-5">
			</div>
			<div class="col-md-2">
				#{form @validation(), role:'form' }
				#{if flash.error}
					<div class="alert alert-danger">
		                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		                <strong>¡Error! </strong>Usuario y/o Passoword incorrecto
		            </div>
				#{/if}
				#{if flash.success}
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Exito! </strong> Termino su sesión
				</div>
				#{/if}
				  <div class="form-group">
				    <h1>Sistema</h1>
				    <input type="text" name="codigo" id="codigo" class="form-control" placeholder="Código">
				    <br/>
				    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-primary col-md-12">Ingresar</button>
				#{/form}
			</div>
			<div class="col-md-5">
			</div>
		</div>
	</body>
</html>
